body,
body * {
margin: 0;
padding: 0;
/* vertical-align: top; */
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body    {
    background-color: #F49A99;
    margin: 100px;
}
    header {
        display: inline-block;
        width: 800px;
        vertical-align: top;
        background-color: #EE4E3E;
        border-radius: 10px 10px 0 0;
        margin-left: calc( (100% - 800px) / 2 );
        padding: 15px;
    }
    main {
        display: inline-block;
        background-color:#FFF2C5;
        text-align: center;
        width: 800px;
        height: 500px;
        margin-left: calc( (100% - 800px) / 2 );
    }
        header > img {
            display: inline-block;
            float: left;
            margin-left: 15px;
        }
        .Burgeris {
            display: inline-block;
            width: 100%; 
        }
            span {
                display: inline-block;
                font-size: 300px;
                color: #45B7B8;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .Burgeris > img {
                display: inline-block;
                margin-bottom: 5px;
                height: 210px;
            }
        .NO {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
            
        }
            p {
                display: inline-block;
                color: #473742;
                font-size: 27px;
  
            }
            .DOT4,.DOT5 {
                display: inline-block;
                background-color: #ED4E3B;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                margin: 6px;
            }